@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Figtree:ital,wght@0,300..900;1,300..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
       /* Base Colors */
       --blue-light-body: #8894BE;
       --blue-dark-container: #5F71B9;
       --white: #FFFFFF;
   
       /* Functional Colors */
       --blue-input: #5B69A8;
       --blue-search-btn: #4C5DA2;
       --white-placeholder: #B3BBE2;
   
       /* Links */
       --blue-link: #5ED8F5;
       --blue-link-hover: #A0F5DE;
   
       /* Highlights/Emphasis */
       --yellow-strong-text: #F1C40F;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--blue-light-body);
    color: var(--white);
    font-family: "Be Vietnam Pro", sans-serif;
}

header {
    border-bottom: 1px solid var(--blue-input);
}

main {
    padding: 30px 0;
}

a {
    color: var(--blue-link);
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:hover {
    color: var(--blue-link-hover);
    text-decoration: none;
}

.container {
    width: 600px;
    margin: 0 auto;
    padding: 30px;
    background-color: var(--blue-dark-container);
    border-radius: 16px;
    margin-top: 20px;
    box-shadow: 0 4px 12px rgb(25, 23, 21);
}

.search-form {
    margin-bottom: 28px;

}

.search-form-input {
    background-color: var(--blue-input);
    border: none;
    border-radius: 6px;
    padding: 15px 20px;
    width: 76%;
    color: var(--white-placeholder);
}

::placeholder {
    color: var(--white);
  }

.search-form-btn {
    background-color: var(--blue-search-btn);
    color: var(--white);
    border: none;
    padding: 13px 28px;
    border-radius: 6px;
    margin-left: 5px;
    font-size: 16px;
}

.weather-app-data {
    display: flex;
    justify-content: space-between;
}

.weather-app-city {
    margin-bottom: 18px;
    font-size: 38px;
    line-height: 48px;
}

.weather-app-details {
    font-size: 16px;
    line-height: 26px;
}

.weather-app-details strong{
    color: var(--yellow-strong-text);
}

.weather-app-temperature {
    display: flex;
}

.weather-icon {
    margin-top: 22px;
    font-size: 44px;
}

.weather-temperature-value {
    font-size: 88px;
    margin-left: 10px;
}

.weather-temperature-unit {
    margin-top: 16px;
    font-size: 28px;
}

footer {
    border-top: 1px solid var(--blue-input);
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
}